<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Criminals</title>
        <style>
        ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>

</head>
<body>


            <ul id="nav">
                <li><a  href="{% url 'user:index' %}">Testing</a></li>
                <li><a href="#">Web Cam Detection</a></li>
                <li><a href="{% url 'user:add' %}">Add New Criminals</a></li>
                <li><a class="active"  href="#">View All Criminals</a></li>
            </ul>
{% load static %}


            <br><br><br><br><br><br>
                <table align="center"  cellspacing="10" cellpadding="20" border="1">
                    <th>Name</th>
                    <th>Crime</th>
                    <th>City</th>
                    <th>Photo</th>
                    {% for i in x %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.crime }}</td>
                        <td>{{ i.city }}</td>
                        <td>
                            <img src="/{{ i.photo.url }}" alt="{{ i.photo.url }}" height="200" width="200">
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            <br><br><br><br><br><br>

</body>
</html>