<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <style>
        ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>
<body>

            <ul id="nav">
                <li><a class="active" href="#">Testing</a></li>
                <li><a href="#">Web Cam Detection</a></li>
                <li><a href="{% url 'user:add' %}">Add New Criminals</a></li>
                <li><a href="{% url 'user:all' %}">View All Criminals</a></li>
            </ul>
            <br><br><br><br><br><br>

            {% if x %}

                <table align="center"  cellspacing="20" cellpadding="20">
                    <tr>
                        <td>Name </td>
                        <td>{{ x.name }}</td>
                    </tr>
                    <tr>
                        <td>Crime </td>
                        <td>{{ x.crime }}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{ x.city }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="{{ x.photo.url }}" alt="hii" height="200" width="200">
                        </td>
                    </tr>
                </table>

            {% endif %}

            {% if not x %}

        <form method="post" enctype="multipart/form-data" action="{% url 'user:index' %}">
            {% csrf_token %}
            <table align="center"  cellspacing="20" cellpadding="20">
                <tr>
                    <td>Upload Image</td>
                    <td><input type="file" name="photo"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="name"></td>
                </tr>
            </table>
        </form>

{% endif %}

</body>
</html>


